

ul, ol {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

.intro h2,
        h1 {
    text-align: center;
}

a {
    
}

body {
    position: relative;
    width: 100%;
    min-width: pem(320);
    background: $background-color;

        //bg colour on body//
        img {
            border: none;
            max-width: 100%;
            height: auto;
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


}

.stripe-grey {
    background-color: $bread-bg;
    border-top: 1px solid #303030;
}
.stripe-mid-grey {
    background-color: #444444;
}

.block {
    position: relative;  
}

.close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background:  url("../img/close-btn.svg") left center no-repeat;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../img/close-btn.png");
    }

    &:focus,
    &:hover {
        @include opacity(1);
    }
}

.nav-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: left center no-repeat;        //three line nav icon //
    background-size: pem(30) pem(24);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
        &:after {
         content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 24px;
        height: 3px;
        background: $nav-btn-color;
        box-shadow: 
          0 8px 0 0 $nav-btn-color,
          0 16px 0 0 $nav-btn-color;
        }

    .no-svg & {
        //background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
        @include opacity(1);
    }

    &:active {
           &:after {
        background: $brand-color;
        box-shadow: 
          0 8px 0 0 $brand-color,
          0 16px 0 0 $brand-color;
        }
    }
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

#nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;

        @include bp(non-mob){
                width: auto;
                display: inline-block;
                float: right;
                
        }
    .close-btn {
        display: none;
         @include bp(non-mob) {
            @include visuallyhidden;
        }
    }

    .block-title {
        @include visuallyhidden;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: pem(12) pem(20);
        
        @include bp(non-mob) {
            padding: 19px 0 0 0;
        }
    }

    ul {
        @include clearfix;
        display: block;
          
    }

    li {
        display: block;
        @include bp(non-mob){
            display: inline-block;
            margin-left: 10px;
        }

        a {
            display: block;
              
        }

    }
}

// header[role="banner"] {
#top {
    z-index: 100;
    position: relative;
    color: #fff;
    padding: 8px 0 12px 0;
    
    @include bp(non-mob){
        width: 200px;          //width of main logo in header//
        display: inline-block;
        float: left;
        .nav-btn {
            @include visuallyhidden;
        }
    }

    .block-title {
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
            @include bp(non-mob){
                text-align: left;
            }
            img {
                width: 200px;
                margin: auto;
            }
    }

    .nav-btn {
        position: absolute;
        top: pem(14);
        left: pem(0);
    }

    
    a {
        color: $brand-color;   //Main logo in top header (if this is text), otherwise replace with logo image in HTML//

    }
}


footer[role="contentinfo"] {
    background: #ddd;
}