
body {
    position: relative;
    width: 100%;
    min-width: 320px;
    background: $background-color;
    -webkit-font-smoothing: antialiased;

        
        img {
            border: none;
            max-width: 100%;
            height: auto;
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }



}

.container {
    display: block;
    width: 96%;
    margin: auto;
    
        @include bp(non-mob){
            width: 90%;
            max-width: 1204px;
            margin:  auto;
        }
}

#site-header {
    width: 100%;
    background-color: $header-bg; //site-header bg colour - insert here//
    border-bottom: 1px solid #333;
    
        
}

.stripe-mid-grey, .bread {  // breadcrumbs or homepage infographic
    margin-bottom: 16px;
        @include bp(mid-mob) {
                margin-bottom: 22px;
            }


}



.box, .box-nosidebar {  // white box around main content on all pages
    position: relative;
    width: 100%;
    background-color: white;
    margin-bottom: $padding;
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.05));
}


.box-nosidebar {
    padding: 0 5%;
        @include bp(tiny-mob) {
             padding: 0 10%;
        }
        @include bp(non-mob){
            padding: 0 $padding;
        }
         @include bp(mama-bear) {
            padding: 0 $padding*3;
        }


       
   
}
.box-nosidebar, .page-content {
    padding-top: $padding*1.8;
    padding-bottom: $padding*1.8;
      @include bp(tiny-mob) {
            padding-top: $padding*2.5;
        }
       

}

.box {
    display: block;

        @include bp(non-mob) {
            display: table;
        }


        .page-content {
            width: 100%;
            
            @include bp(non-mob) {
                display: table-cell;
                vertical-align: top;
                padding-left: $padding;
                padding-right: $padding;
            }
             @include bp(mama-bear){
                        padding-left: $padding*3;
                        padding-right: $padding*3;
                    }
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            ul,
            ol,
            .post-meta,
            #comment-container,
            .contact-form {
                  padding: 0 5%;
                    @include bp(tiny-mob) {
                        padding: 0 10%;
                    }
                    @include bp(non-mob){
                        padding: 0 $padding*3;
                    }
                    @include bp(mama-bear){
                        
                    }
                }

        }

        .sidebar {
            width: 100%;
            background-color: $sidebar-bg;
            padding: 32px 0 0 0;
                img {
                    border-radius: 100%;

                }

            @include bp(non-mob) {
                display: table-cell;
                min-width: 240px;
            }

}
            
}

.page-content {  // on a page with a sidebar - this is where the content goes
    max-width: 829px;
    @include bp (non-mob) {
        max-width: 520px;
    }
}
ul, ol {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}



a {
    
}





.intro {  // main tagline on homepage
    margin-top: $padding;
    clear: left;
        @include bp(info-right) {
                width: 31%;
                float: left;
                margin-top: $padding*4;
                margin-left: $padding;
            }
            @include bp(mama-bear) {
                margin-left: $padding*3;
                width: 34%;
            }

    h2 {
        margin-bottom: $padding; 
            @include bp(info-right) {
                margin-bottom: $padding*1.5;
            }
    }
    p {
        margin: 0 5%;
        @include bp(tiny-mob) {
                    margin: 0 10%;
                }
        @include bp(info-right) {
                text-align: left;
                margin: 0;    
            }
    }

}

#overview {
    @include bp(mid-mob) {
        margin-bottom: 44px;
    }
}

/// Blog home page

.post {  // intros to blog posts on the blog page - not the full article
    position: relative;
    padding-top: $padding;
    border-bottom: 1px solid #ccc;
    @include bp(mid-mob) {
                margin-top: $padding*1.2;
                padding-bottom: $padding*1.2;
               
            }
            @include bp(non-mob) {
                
                margin: $padding*1.2 $padding*3 0 $padding*3;
            }
    .table {
        @include bp(mama-bear) {
                width: 100%;
                display: table;
            }
    }
     .table-left {
        width: 100%;
        @include bp(mama-bear) {
               
                display: table-cell;
                 vertical-align: top;
                
            }
    }
    img {
        border-radius: 100%;
        width: 62px;
        position:absolute;
        top: $padding;
        right: 0;

            @include bp(tiny-mob) {
                width: 90px;
            }
            @include bp(mid-mob) {
                min-width: 130px;
               

            }
             @include bp(mama-bear) {
                position: static;
                display: table-cell;
                min-width: 190px;
               

            }
    }
    

}





.button 
 {
    padding: 14px 36px;
    border: none;
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    background-color: #e8e8e8;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
      



}

.block-button {
    display: block;
      @include bp(tiny-mob) {
            margin: auto;
            width: 260px;
        }
}


.blue {  // add the colour class for button
    color: white;
  background-color: #3f92bc!important;
    a {
        color: white;
    }
    &:hover {
        background-color: lighten(#3f92bc, 5%) !important;
    }
    &:active {
        background-color: darken(#3f92bc, 3%) !important;
    }
  
}
.orange {
    color: white;
    background-color: #e54e27!important;
    a {
        color: white;
    }
    &:hover {
        background-color: lighten(#e54e27, 3%)!important;
    }
    &:active {
        background-color: darken(#e54e27, 3%)!important;
    }
  
}

.stripe-grey {
    background-color: $bread-bg;
    border-top: 1px solid #303030;
    margin-top: 0px;
}
.stripe-mid-grey { // banner below infographic with blue CTA
    background-color: #444444;
    padding: 8px 0 14px 0;
}

.block {
    position: relative;  
}

.close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background:  url("../img/close-btn.svg") left center no-repeat;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .no-svg & {
        background-image: url("../img/close-btn.png");
    }

    &:focus,
    &:hover {
        @include opacity(1);
    }
}

.nav-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: left center no-repeat;        //three line nav icon //
    background-size: pem(30) pem(24);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
        &:after {
         content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 24px;
        height: 3px;
        background: $nav-btn-color;
        box-shadow: 
          0 8px 0 0 $nav-btn-color,
          0 16px 0 0 $nav-btn-color;
        }

    .no-svg & {
        //background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
        @include opacity(1);
    }

    &:active {
           &:after {
        background: $brand-color;
        box-shadow: 
          0 8px 0 0 $brand-color,
          0 16px 0 0 $brand-color;
        }
    }
}

#outer-wrap {  // from original template
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap { // from original template
    position: relative;
    width: 100%;
}

#nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;

        @include bp(non-mob){
                width: auto;
                display: inline-block;
                float: right;
                
        }
        @include bp(mama-bear) {
        margin-right: $padding;
        }
    .close-btn {
        display: none;
         @include bp(non-mob) {
            @include visuallyhidden;
        }
    }

    .block-title {
        @include visuallyhidden;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: pem(12) pem(20);
        
        @include bp(non-mob) {
            padding: 19px 0 0 0;
        }
    }

    ul {
        @include clearfix;
        display: block;
          
    }

    li {
        display: block;
        @include bp(non-mob){
            display: inline-block;
            margin-left: 10px;

        }
        @include bp(mama-bear) {
             margin-left: 18px;
        }

        a {
            display: block;
              
        }

    }
}


#top {
    z-index: 100;
    position: relative;
    color: #fff;
    padding: 8px 0 12px 0;
    
    @include bp(non-mob){
        width: 200px;          //width of main logo in header//
        display: inline-block;
        float: left;
        margin-left: $padding;
        .nav-btn {
            @include visuallyhidden;
        }
    @include bp(mama-bear) {
        margin-left: $padding*3;
        }
       
}


    .block-title { // logo in site header
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
            @include bp(non-mob){
                text-align: left;

            }
            img {
                width: 200px;
                margin: auto;
            }
    }

    .nav-btn {
        position: absolute;
        top: pem(14);
        left: pem(0);
    }

    
    a {
        color: $brand-color;   //Main logo in top header (if this is text), otherwise replace with logo image in HTML//

    }
}

#overview img,  // small grey icons next to headings
.page-icon {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
        @include bp(non-mob) {
            width: 42px;

        }
}

.page-icon {
    @include bp(non-mob) {
        position: absolute;

    }
}


.contact-form {
    margin-bottom: 10px;
         @include bp(tiny-mob) {

        
            }
   
        input,
        textarea,
        label {
            display: block;
           width: 100%;

        }
        input:not([type=submit]),
        textarea {
            background-color: #eaeaea;
            padding: 12px 14px;
            margin-bottom: 12px;
            border: none;
            color: #333;
            -webkit-appearance: none;
            -webkit-border-radius:0; 
            border-radius:0;
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-bottom: 4px solid #e54e27;
                    margin-bottom: 8px;
                }
       
        }
        label  {
            margin-bottom: 6px;
        }
     
        input[type=submit] {
            &:focus,
            &:hover,
            &:active {
                box-shadow: none;
                outline: none;
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
              
            }
            &:active {
                background-color: darken(#e54e27, 5%)!important;
            }
            &.button {
                @include bp(tiny-mob) {
                   display: inline-block;
                    width: 260px;
                }
        

            }
        }
      
        

}

.sidebar {
    overflow: hidden;
    .staff-member-intro
    {

        width: 200px;
        margin: auto;
        padding: 28px 0 22px 0;
        text-align: center;
        clear: both;
        border-bottom: 1px solid #606060;
             &:last-child {
                        padding-bottom: 66px;
                        border-bottom: 0;
                    }

        img {
            padding: 12px;
            width: 170px;

        }
        h3 {
            margin: 0 0 4px 0;
            color: #ddd;
            font-size: 24px;
        }
      
        h4 {
            font-size:  14px;
            color: #929293;
            margin: 0 0 18px 0;
        }
        p {
            color: #929293;
            line-height: 1.375em;
        }
        .button {
            display: block;
        }
        @include bp(inBetween) {
                display: block;
                padding: 28px 0 66px 0;
                text-align: left;
                width: 90%;
                margin: 0 auto;
                    &:first-child {
                        padding-top: 10px;
                       
                    }
                    &:last-child {
                        padding-bottom: 66px;
                        border-bottom: 0;
                    }
                    h3 {
                         font-size: 30px;
                        margin: 22px 0 8px 0
                       
                    }
                 
                    h4 {
                        margin: 0 0 18px 0;
                    }
                    img {
                        float: left;
                        width: 28%;
                        min-width: 180px;
                        margin-right: 8%;

                        overflow: hidden;
                    }
                    .button {
                        width: 30%;
                        min-width: 190px;
                        display: inline-block;
                    }
           
        }
    }
} 

.sidebar {
    .blog-author {
        width: 90%;
        margin: auto;
        padding: 0 0 44px 0;
        text-align: center;
        clear: both;
        @include bp(tiny-mob) {
            width: 80%
        }
            img {
                margin-bottom: 16px;
                max-width: 180px;
            }
            h3 {

                margin: 0 0 8px 0;
                color: #ddd;
                font-size: 26px;
            }
          
            h4 {

                font-size:  14px;
                color: #929293;
                margin: 0 0 12px 0;
            }
            p {
                
                color: #9b9b9b;
                padding-bottom: 18px;
                line-height: 1.375em;
            }
            .button {
                display: block;
            }
                @include bp(inBetween) {
                    text-align: left;
                    width: auto;
                    margin: 0 auto;
                    margin-left: 10%;
                    margin-right: 10%;
                    display: table;
                     .author-img {
                        display: table-cell;
                        min-width: 140px;
                            img {
                                width: 100%;
                            }
                     }


                    .author-bio {
                        display: table-cell;
                        vertical-align: top;
                        width: 100%;
                        padding-left: 30px;

                            h3 {
                                font-size: 26px;
                            }
                            .button {
                                width: 200px;

                            }
                     }
                      

               
                }
                @include bp(non-mob) {
                    margin-top: 22px;
                    img {
                        width: 150px;
                    }

                }
      
    }
}

#comment-container {
  margin: 44px 0;
  border-top: 1px solid #9b9b9b;
  padding-top: 44px;

    
    .comment {
        display: inline-block;

            .comment-author {

                .comment-img {
                    float: left;
                    width: 50px;
                    margin: 0;
                }
                .author-name {
                    display: inline-block;
                    font-weight: bold;
                    font-size: 22px;
                    height: 50px;
                    display: table-cell;
                    color: #5f6060;
                    padding: 0 0 0 10px;
                    vertical-align: middle
                }
            }
            .comment-text {
                 p {
                    font-size: 16px;
                    line-height: 1.5em;
                    clear: both;
                    padding: 0;
                 }
            }
            .datetime {
                display: inline-block;
                color: #a9aaaa;
                margin: 12px 0 4px 0;
                font-weight: bold;
            }
    }
    ol {
        list-style: none;
        padding: 0;
        margin-left: 0;
       
        li {
             display: inline-block;
             padding: 16px 0 8px 0;
             margin: 0 0 4px 0;
            

             border-bottom: 1px solid #ebebeb;
                &:first-child {
                    border-top: 1px solid #ebebeb;
                }
             
        }
        ul {
            padding-right: 0;
            margin-bottom: 0;
            padding-left: 5%;
            border-left: 4px solid #ebebeb;
            li {
                margin-right: 0;
                border-bottom: 0;
                margin-bottom: 0;
                     &:first-child {
                    border-top: 0;
                }
                ul {
                    padding-right: 0;
                    margin-bottom: 0;
                    padding-left: 5%;
                    li {
                        margin-right: 0;
                        border-bottom: 0;
                        margin-bottom: 0;
                             &:first-child {
                            border-top: 0;
                        }
                    }
                }
            }
        }
    }
    .reply {
        display: inline-block;
        width: 100%;
        text-align: right;


         a {
            color: #e54e27;
            padding: 12px;
                &:hover {
                    color: lighten(#e54e27, 10%);
                }
                &:active {
                    color: darken(#e54e27, 5%);
                }
         }
    }
    h3 {
        font-size: 36px;
        margin-bottom: 22px;
        padding-top: 44px;
        padding-left: 0;
    }
    .comment-form-text {
            width: 100%;
            
            height: 160px;
            background-color: #eaeaea;
            padding: 12px 14px;
            margin-bottom: 12px;
            border: none;
            color: #333;
            -webkit-appearance: none;
            -webkit-border-radius:0; 
            border-radius:0;
            @include bp(mid-mob){
                   
                }

                &:focus {

                    outline: none;
                    box-shadow: none;
                    border-bottom: 4px solid #e54e27;
                    
                }

    
    }
    .comment-form {
        
        
        .button {
            display: block;
            width: 100%;
            margin-bottom: 22px;

                @include bp(tiny-mob){
                    width: 220px;
                    float: right;
                }
            &:focus,
            &:hover,
            &:active {
                box-shadow: none;
                outline: none;
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
              
            }
        }
    }

}

#comment-container {
    
}

.blog-pagin {
    display: table;
    margin-left:5%;
    margin-right: 5%;
    position: relative;
     @include bp(tiny-mob){

           margin-left: 10%;
        }
        @include bp(non-mob){
            margin-left: 0px;
        }
    .prev-post,
    .next-post {
        display: table-cell;
        vertical-align: middle;
        color: white;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
        line-height: 1.2em;
        @include bp(tiny-mob){

           padding-left: 18px;
           padding-right: 18px;
        }
         @include bp(non-mob){

           padding-left: 23px;
           padding-right: 23px;
        }
            &:hover {
                text-decoration: none;
            }
            &:active {
                color: white;
                text-decoration: none;
            }
           
        
    }
    .prev-post {
       color: #babbbb;
       
    }
  
    a.next-post {
        position: relative;
        left: 5px;
        padding-right: 35px;
        text-align: left;
        span.right-arrow {
            &::after {
                content: "\25BA";
                height: 14px;
                width: 14px;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -8px;
            }
           
            
           
            
        }
    }


}

footer[role="contentinfo"] {
    background: #ddd;

}
































