$background-color: #eaeaea;

$brand-color: #e54e27;

$header-bg: white;  // #site-header background-color

$nav-btn-color: #000;  // colour of three line nav icon

$link-color: #36aeda;

@function pem($px, $base: 16) {
    @return ($px / $base) + em;
}

@mixin nav-btn {
          content: "";
          position: absolute;
          left: 0;
          top: 0.5em;
          width: 24px;
          height: 3px;
          background: $nav-btn-color;
          box-shadow: 
            0 8px 0 0 $nav-btn-color,
            0 16px 0 0 $nav-btn-color;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin bp($point) {
  @if $point == non-mob {
    @media (min-width: 54em) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 72em) { @content; }
  }
  @else if $point == papa-bear {
    @media (min-width: 88em)  { @content; }
  }
}