.menu {
    overflow: hidden;
    
     a {
     	background: none repeat scroll 0 0;
    	
    	text-decoration: none;
    		

     }
     a,
     span {
     	display: block;
	    line-height: normal;
	    text-transform: uppercase;
     }
     a,
     span,
     li {
     	
     }
     li {
     	display: inline-block;
    	vertical-align: middle;

     }

     

}

#breadcrumbs {
        display: inline-block;
        vertical-align: top;
        background: none repeat scroll 0 0 ;
        width: 100%;
    ul,
    a,
    span {
        display: inline-block;
        vertical-align: top;

    }
    img {
        height: 31px;
        margin: 0;
    }
    ul {
        li {
            a {
            background: none repeat scroll 0 0 ;
            font-size: 12px;
            }
        }
    }

}

