.menu {
    overflow: hidden;
    
     a {
     	background: none repeat scroll 0 0;
    	
    	text-decoration: none;
    		

     }
     a,
     span {
     	display: block;
	    line-height: normal;
	    text-transform: uppercase;
     }
     a,
     span,
     li {
     	
     }
     li {
     	display: inline-block;
    	vertical-align: middle;

     }

     

}


#breadcrumbs {
        display: inline-block;
        vertical-align: top;
        background: none repeat scroll 0 0 ;
        width: 100%;
        
         
            @include bp(non-mob){
                padding: 0 0 0 38px;
            }
            @include bp(mama-bear){
                padding: 0 0 0 82px;
            }
    ul,
    a,
    span {
        display: inline-block;
        vertical-align: top;

    }
    img {
        height: 31px;
        margin: 0;
        
    }
    a.index {
        position: relative;
        
        img {
            background-color: $bread-bg;
            padding: 6px 2px 6px 0;
            margin-bottom: -2px;
            opacity: 0.8;
             @include bp(non-mob) {
                    padding: 6px 16px 6px 0;
                }
            &:hover
            {
                opacity: 0.4;
            }
            &:active
            {
                opacity: 1;
            }
        }
       &:after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 17px solid $bread-bg;
                    position: absolute;
                    z-index: 100;
                    top: 8px;
                    right: -43px;
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                } 
    }
   
    

}

#breadcrumbs ul {
    li {
        li {

            margin-left: -4px;
             
            a {
                font-size: 12px;
                font-weight: bold;
                color: darken(#e8e8e8, 10%);
                background: none repeat scroll 0 0 lighten($bread-bg, 5%);
                padding: 10px 12px 10px 34px;
                position: relative;
                    &:after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 17px solid lighten($bread-bg, 5%);
                    position: absolute;
                    z-index: 100;
                    top: 8px;
                    right: -43px;
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                } 
                &:hover {
                    color: $header-bg;
                    background: lighten($bread-bg, 15%);
                     &:after {
                   
                    border-bottom: 17px solid lighten($bread-bg, 15%);
                    
                    } 
                }
                &:active {
                    color: #e8e8e8;
                    background: lighten($bread-bg, 30%);
                    &:after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 17px solid lighten($bread-bg, 30%);
                    position: absolute;
                    z-index: 100;
                    top: 8px;
                    right: -43px;
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                } 
                }

            }

            li {
                a {
                    
                    background: none repeat scroll 0 0 lighten($bread-bg, 10%);
                    &:after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 17px solid lighten($bread-bg, 10%);
                    position: absolute;
                    z-index: 100;
                    top: 8px;
                    right: -43px;
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                    } 
                     &:hover {
                    background: lighten($bread-bg, 20%);
                    &:after {
                   
                    border-bottom: 17px solid lighten($bread-bg, 20%);
                    
                    } 
                }
                &:active {
                    color: #e8e8e8;
                    background: lighten($bread-bg, 30%);
                    &:after {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 35px solid transparent;
                    border-right: 35px solid transparent;
                    border-bottom: 17px solid lighten($bread-bg, 30%);
                    position: absolute;
                    z-index: 100;
                    top: 8px;
                    right: -43px;
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                } 
                }
                }
            }
            .current {
                    a {
                        color: darken(#e8e8e8, 10%);
                        background: none repeat scroll 0 0 lighten($bread-bg, 10%);
                        &:hover,
                        &:active {
                            color: darken(#e8e8e8, 10%);
                            background: none repeat scroll 0 0 lighten($bread-bg, 10%);

                        }
                        &:hover {
                            &:after {
                                content: "";
                                width: 0; 
                                height: 0; 
                                border-left: 35px solid transparent;
                                border-right: 35px solid transparent;
                                border-bottom: 17px solid lighten($bread-bg, 10%);
                                position: absolute;
                                z-index: 100;
                                top: 8px;
                                right: -43px;
                                transform:rotate(90deg);
                                -ms-transform:rotate(90deg);
                                -webkit-transform:rotate(90deg);
                            }
                        } 

                    }
                }
        }
        .current {
                    a {
                        color: darken(#e8e8e8, 10%);
                        background: none repeat scroll 0 0 lighten($bread-bg, 5%);
                        &:hover,
                        &:active {
                            color: darken(#e8e8e8, 10%);
                            background: none repeat scroll 0 0 lighten($bread-bg, 5%);

                        }
                        &:hover {
                            &:after {
                                content: "";
                                width: 0; 
                                height: 0; 
                                border-left: 35px solid transparent;
                                border-right: 35px solid transparent;
                                border-bottom: 17px solid lighten($bread-bg, 5%);
                                position: absolute;
                                z-index: 100;
                                top: 8px;
                                right: -43px;
                                transform:rotate(90deg);
                                -ms-transform:rotate(90deg);
                                -webkit-transform:rotate(90deg);
                            }
                        } 

                    }
                }

    }
}



