.container {
    display: block;
    width: 96%;
    margin: auto;
    
        @include bp(non-mob){
            width: 90%;
            max-width: 1280px;
            margin:  auto;
        }
}

#site-header {
    width: 100%;
    background-color: $header-bg; //site-header bg colour - insert here//
    border-bottom: 1px solid #333;
    margin-bottom: 10px; 
    	@include bp(non-mob) {
    		margin-bottom: 22px;
    	}
}

.box, .box-nosidebar {
	width: 100%;
	background-color: white;
	
	@include box-shadow(0 0 7px rgba(0, 0, 0, 0.05));
}

.box-nosidebar, .page-content {
	padding-top: $padding;
}

.box-nosidebar {
	
}

.sidebar {

}

.page-content {

}