.container {
    display: block;
    width: 96%;
    margin: auto;
    
        @include bp(non-mob){
            width: 90%;
            max-width: 1280px;
            margin:  auto;
        }
}

#site-header {
    width: 100%;
    background-color: $header-bg; //site-header bg colour - insert here//
    border-bottom: 1px solid #333;
    
    	
}

.stripe-mid-grey, .bread {
    margin-bottom: 16px;
        @include bp(non-mob) {
                margin-bottom: 28px;
            }


}



.box, .box-nosidebar {
    position: relative;
	width: 100%;
	background-color: white;
    margin-bottom: $padding;
	@include box-shadow(0 0 7px rgba(0, 0, 0, 0.05));
}


.box-nosidebar {
	padding: 0 5%;
   
}
.box-nosidebar, .page-content {
    padding-top: $padding*1.8;
    padding-bottom: $padding*1.8;
}

.box {
    display: block;

        @include bp(non-mob) {
            display: table;
        }

        .page-content {
            width: 100%;
            
            @include bp(non-mob) {
                display: table-cell;
                vertical-align: top;
            }
        }

        .sidebar {
            width: 100%;
            background-color: $sidebar-bg;

            @include bp(non-mob) {
                display: table-cell;
                min-width: 240px;
            }

}
            
}

#overview {
    @include bp(mid-mob) {
        margin-bottom: 44px;
    }
}
.page-content {

}


.intro {
    margin-top: $padding;
        @include bp(info-right) {
                width: 35%;
                float: left;
                margin-top: $padding*4;
            }
    h2 {
        margin-bottom: $padding; 
            @include bp(info-right) {
                margin-bottom: $padding*1.5;
            }
    }
    p {
        margin: 0 5%;
        @include bp(tiny-mob) {
                    margin: 0 10%;
                }
            @include bp(info-right) {
                text-align: left;
                margin: 0;    
            }
    }

}









