body {
	color: #333;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-color;
	line-height: 1.2em;
}
h4 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

p {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 1.675em;
		
		a {
			color: $link-color;
				&:hover,
				&:active {
					text-decoration: underline;
				}

				&:active {
					color: darken($link-color, 10%);
				}
		}
}

#nav {
    text-transform: uppercase;
    ul {
		  @include bp(non-mob) {
            text-align: center;
            white-space: nowrap;
            
            }
		    	li {

		    		a {
		    		color: #e8e8e8;					//font colour of open mobile nav
		    		font-size: 14px;             //font-size of items on "revealed" mobile nav
		             
		            font-weight: bold;
		            outline: none;
		                @include bp(non-mob) {
		                    
		                    padding: 16px 2px 28px 2px;  //non mobile layout - nav items - need to adjust this depending on size of logo
		                }

		                &:focus,    
			            &:hover {
			                color: $brand-color;       //hover font colour
			                background: darken($nav-bg, 2%);
			                    @include bp(non-mob) {
			                        background: none;
			                      	border-bottom: 4px solid $brand-color;
			                        }
			            } //focus

			            &:active {
		                color: #e8e8e8;                
		                background: darken($nav-bg, 6%);
			                @include bp(non-mob) {
	                        background: none;
                        	}
            			} //active
		    		}

		    		&.is-active {
		    			background: darken($nav-bg, 2%);
			    			@include bp(non-mob) {
		                        background: none;
		                        
	                        	}
			            a {
			                color: $brand-color;
			                @include bp(non-mob) {
		                        background: none;
		                        border-bottom: 4px solid $brand-color;
	                        	}
			                	&:active {
			                		color: #e8e8e8;
			                	}
			            }
			        }

		    	}
    } //ul
    	
} //nav

.intro {
	
		@include bp(info-right) {
				width: 35%;
				float: left;
			}
	h2 {
		text-align: center;
		font-size: 42px;
		line-height: 1em;
			@include bp(tiny-mob) {
					font-size: 54px;
					line-height: 1em;
				}
			@include bp(info-right) {				
				text-align: left;
			}
	}
	p {
		margin: 0 5%;
		line-height: 1.675em;
		color: #e8e8e8;
		text-align: center;
		@include bp(tiny-mob) {
					font-size: 18px;
					line-height: 1.675em;
				}
			@include bp(info-right) {
				text-align: left;
			}
	}

}

#overview, #summary {
    text-align: center;
            @include bp(mid-mob) {
                text-align: left;
            }
        h3 {
            color: #333;
            font-size: 36px;
            line-height: 1.1em;
            letter-spacing: -0.055em;
            width: 80%;
            margin: 0 auto;
            margin-bottom: $padding * 2;
            @include bp(mid-mob) {
                text-align: center;
            }

        }
        h4 {
            font-size: 20px;
                @include bp(mid-mob) {
                    margin-left: $padding*3;
                    margin-bottom: 4px;
            }
        }

        h4,
        p {
                @include bp(mid-mob) {
                 
                    margin-top: 0;
                    margin-right: 44px;
                    margin-left: 66px;
            }

        }
       
        hr {
            width: 50%;
            border: 0;
            height: 1px;
            background-color: #ccc;
            margin-bottom: $padding* 2;
                @include bp(mid-mob){
                        margin-bottom: 0;
                        height: 0;
                        width: 0;
                }
           
        }
        img {
                @include bp(mid-mob) {
                    position: absolute;

            }

        }
    

}

.page-content h1,
.box-nosidebar h1 {
	text-align: center;
	line-height: 50px;
	margin-bottom: $padding/2;
		@include bp(non-mob) {
			text-align: left;
		}
}

///////  BLOG POSTS

.page-content {

	h1 {
		
		font-size: 28px;
		line-height: 1.1em;
		padding-bottom: 8px;
			@include bp(tiny-mob){
				font-size: 36px;
				line-height: 1.1em;
			}
	}
	h2,
	h3,
	h4 {
		padding: 6px 0 8px 0;
	}

	p {
		@include bp(mid-mob){
			font-size: 18px;
			line-height: 1.5em;
		}
	}
	
	a {
			color: $link-color;
				&:hover,
				&:active {
					text-decoration: underline;
				}

				&:active {
					color: darken($link-color, 10%);
				}
		}

		.full-post {
			h1 {
				text-align: left;
			}
					.post-meta {
				color: #bababa;
				font-weight: bold;
				margin-bottom: $padding*1.5;
					a {
					color: #bababa;
					padding-right: 6px;
					text-decoration: underline;
						&:hover,
						&:active {
							color: $link-color;
						}

						&:active {
							color: darken($link-color, 10%);
						}
				}
			}

		}

	
	
}


