.menu {
    overflow: hidden;
    
     a {
     	background: none repeat scroll 0 0;
    	color: #F2F1E6;
    	text-decoration: none;
    		&:hover {
    			color: $brand-color;
    		}
    		&:active {
    			
    			color: #F2F1E6;
    		}

     }
     a,
     span {
     	display: block;
	    line-height: normal;
	    text-transform: uppercase;
     }
     a,
     span,
     li {
     	
     }
     li {
     	display: inline-block;
    	vertical-align: middle;

     }

     

}

#breadcrumbs {
		display: inline-block;
    	vertical-align: top;
    	background: none repeat scroll 0 0 ;
  		width: 100%;
	ul,
	a,
	span {
		display: inline-block;
    	vertical-align: top;

	}
	img {
		height: 31px;
  		margin: 0;
	}
	a {
		
	}
	ul {
		position: relative;
		ul {
			margin-left: -4px;
			position: relative;
		}
	}
	a.index {
		position: relative;
		
		img {
			background-color: $bread-bg;
			padding: 5px;
			margin-bottom: -2px;
			opacity: 0.6;
			&:hover
			{
				opacity: 1;
			}
			&:active
			{
				opacity: 0.3;
			}
		}
		&:after {
					content: "";
					width: 0; 
					height: 0; 
					border-left: 17px solid transparent;
					border-right: 17px solid transparent;
					border-bottom: 17px solid $bread-bg;
					position: absolute;
					z-index: 100;
					top: 7px;
					right: -24px;
					transform:rotate(90deg);
			      	-ms-transform:rotate(90deg);
			      	-webkit-transform:rotate(90deg);
				}
	    
		}
	li {
		a {
			background: none repeat scroll 0 0 ;
    		font-size: 12px;
		}


		li {
			
			
			background: none repeat scroll 0 0 lighten($bread-bg, 5%);
			&:hover {
				background: none repeat scroll 0 0 lighten($bread-bg, 12%);
				a {
					color: #e8e8e8;
				}
				&:after {
					content: "";
					width: 0; 
					height: 0; 
					border-left: 17px solid transparent;
					border-right: 17px solid transparent;
					border-bottom: 17px solid lighten($bread-bg, 12%);
					position: absolute;
					top: 7px;
					right: -24px;
					transform:rotate(90deg);
			      	-ms-transform:rotate(90deg);
			      	-webkit-transform:rotate(90deg);
				}

			}
			&:after {
					content: "";
					width: 0; 
					height: 0; 
					border-left: 17px solid transparent;
					border-right: 17px solid transparent;
					border-bottom: 17px solid lighten($bread-bg, 5%);
					position: absolute;
					top: 7px;
					right: -24px;
					transform:rotate(90deg);
			      	-ms-transform:rotate(90deg);
			      	-webkit-transform:rotate(90deg);
				}
			&:active {
				background: none repeat scroll 0 0 lighten($bread-bg, 25%);
				a {
					color: $header-bg;
				}
				&:after {
					
					border-bottom: 17px solid lighten($bread-bg, 25%);
					
				}
			}
			a {
				border-radius: 0;
			    color: #bcbbbb;
			    padding: 9px 16px 9px 30px;
			    font-size: 12px;
			    
			}
		}
	}
}

#breadcrumbs ul ul ul{
	position: relative;
	li {
		background: green;
		a {
			color: red;
		}
	}
}
